.heading {
  width: 100%;
  margin: 20px 5%;

  h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
    color: #2b3e5d;

    span {
      display: grid;
      place-items: center;
      height: 100%;
      margin-right: 10px;
    }
  }
}